* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif !important;
}

#office-input,
#phone-input,
#notes-input {
  height: 21px;
  width: 200px;
}

#search-input {
  height: 21px;
}

#office-input::placeholder,
#phone-input::placeholder,
#notes-input::placeholder {
  color: #000;
}

.swal-btn-yes {
  background-color: red;
  color: #fff;
}

thead {
  position: sticky;
  top: 0;
}
table tr td,
th {
  padding: 6px !important;
 }
.evenDep {
  /* background-color: #80808057 !important; */
}
.oddDep {
  /* background-color: green !important; */
}
@media print {
  tr.oddRow {
    background-color: #80808057 !important;
    print-color-adjust: exact;
  }
  tr.evenRow {
    background-color: #fff !important;
    print-color-adjust: exact;
  }
  table tr td,
  th {
    padding: 1px !important;
  }

  #head-name {
    display: flex !important;
  }
  #tableContainer {
    margin-top: 50px;
    max-height: none !important;
    overflow-y: hidden;
    color: #000 !important;
  }
  table thead {
    border: 0.5px solid #070f2b !important;
  }

  td {
    border: 0.5px solid #070f2b !important;
    /* border-style: solid !important; */
    /* border-color:#070f2b !important ; */
  }

  thead {
    position: static !important;
  }
  thead tr th {
    color: #fff !important;
  }

  #my-header,
  #addPhone-form,
  .edit-col {
    display: none !important;
  }
  @page :first {
    margin-top: 0in !important;
  }
}

#head-name {
  display: none;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  flex-direction: row;
  width: 100%;
  padding-inline: 10px;
  z-index: 1000;
}
