* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif !important;
}

#office-input,
#phone-input,
#notes-input {
  height: 21px;
  width: 200px;
}

#search-input {
  height: 21px;
}

#office-input::placeholder,
#phone-input::placeholder,
#notes-input::placeholder {
  color: #000;
}

@media print {
  #head-name {
    display: flex;
  }
  #tableContainer {
    top: 1 !important;
    margin-top: 10px;
    max-height: none !important;
    overflow-y: hidden;
    border: 1px solid #ccc !important;
  }
  th {
    border: 1px solid #ccc !important;
  }

  #my-header,
  #addPhone-form,
  .edit-col {
    display: none !important;
  }
}

.swal-btn-yes {
  background-color: red;
  color: #fff;
}

#head-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  flex-direction: row;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgb(88, 92, 88);
   padding-inline: 10px;
}
