*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-family: "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif !important;
}

#office-input,
#phone-input,
#notes-input {
  height: 21px;
  width: 200px;
}
#search-input {
  height: 21px;
}
#office-input::placeholder,
#phone-input::placeholder,
#notes-input::placeholder {
  color: #000;
}
